rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /case-studies/{studyId} {
      allow read: if resource.data.visible == true;
      allow read, write: if request.auth != null;
    }
  }
}
